
<header class="Navbar ">
    <div class="Logo">
        <img ngSrc="assets/img/logovetcare.png" alt="un lindo gato" width="893" height=" 206" priority>
        <!-- <b>VetCare</b> -->
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#servicios">Services</a></li>
            <li><a href="#doctores">Doctores</a></li>
            <a class="pagination-pointed-button"[routerLink]="['/login']" id="Loginbutton">Log in</a>
        </ul>
    </nav>
    
  </header>
  <!-- <section class="degra hidden">
    <div class="Textos-degra hidden">
        <h1>Clínica VetCare</h1>
        <p>tu hospital animal</p>
        <a href="#abajo">Contacto</a>
    </div>
    <div class="custom-shape-divider-bottom-1691620405">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
  </section> -->
  <router-outlet></router-outlet>
  <section class="Paralax degra">
    <!-- <img src="Proyecto nuevo (3).png" id="hola2"> -->
    <!-- <img src="./img/Proyecto nuevo(5).png" id="hola5">     -->
    <img ngSrc="assets/img/montannas.png" id="hola6" width="1500 " height="1000" priority>
  
    <div id="text" class="Titulocentrado Textos-degra">
        <h1>Clínica VetCare</h1>
        <p >Tu hospital animal</p>
        <a href="#abajo" >Contacto</a>
    </div>
    <img ngSrc="assets/img/Pasto.png" id="hola1"  width="1500" height="1000" priority>         
    <img ngSrc="assets/img/Arbolderecho.png" id="hola4"  width="1500" height="1000" priority>
    <img ngSrc="assets/img/ArbolesIzquierdos.png" id="hola3"  width="1500" height="1000" priority>
  </section>
  
  <section class="container " id="servicios">
    <div id="service-section">
        <h2>Service</h2>
        <p id="peragraph">En Vet Care, ofrecemos servicios completos de atención veterinaria, desde exámenes de salud y vacunas hasta cirugías y cuidados intensivos en hospitalización. Priorizamos la salud y el bienestar de tus mascotas, brindando atención experta y compasiva en todas las etapas de sus vidas.</p>
         <div class="cards hidden">
            <div class="card">
                <i class="fa-solid fa-cat"></i>
                
                <div class="content">
                    <h3>Tratamiento de mascotas</h3>
                    <p>En Vet Care, ofrecemos tratamientos completos y personalizados para mascotas. Nuestro equipo de veterinarios altamente capacitados brinda atención médica, cirugía, vacunas, cuidado dental, control de peso y más. Priorizamos la salud y el bienestar de tus queridas mascotas, proporcionando cuidado experto y compasivo en todas las etapas de sus vidas. Confía en nosotros para mantener a tus compañeros peludos felices y saludables.</p>
  
                </div>
            </div>
            <div class="card">
                
                <div class="content">
                    <i class="fas fa-hospital"></i>
                    <h3>Hospitalización de mascotas</h3>
                    <p>Cuando la salud de tu mascota requiere atención intensiva, en Vet Care ofrecemos servicios de hospitalización dedicados. Nuestra instalación está equipada para brindar cuidados continuos y especializados, supervisados por veterinarios experimentados. Ya sea para recuperación posoperatoria, tratamiento de enfermedades graves o monitorización constante, puedes confiar en que cuidaremos de tu mascota con compasión y experiencia. Tu amado compañero peludo estará en buenas manos durante su estadía en nuestras instalaciones de hospitalización.</p>
  
                </div>
            </div>
         </div>
    </div>
  </section>
  
  <section class="product" id="doctores">
    <h1 class="Doctores">Nuestros especialistas</h1>
    <button class="pre-button"><img src="assets/img/arrow-sm-right-svgrepo-com.svg" alt="flecha a la izquierda"></button>
    <button class="nest-button"><img src="assets/img/arrow-sm-right-svgrepo-com.svg" alt="flecha derecha"></button>
    <div class="product-container">
        <div class="product-card" *ngFor="let veterinario of veterinarios">
            <div class="product-image">
                <img ngSrc="{{veterinario.foto}}" class="product-thumb" alt="foto doctor" width="250" height="350">
                <button class="card-btn">Ver información</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">{{veterinario.nombre}}</h2>
                <!-- <p class="product-short-description">{{veterinario.especialidad}}</p> -->
                <span class="price">especialista</span> <span class="actual-price">{{veterinario.especialidad}}</span>
            </div>
        </div>
    </div>
</section>

  
  <footer class="foote">
    <div class="containe">
        <div class="row">
            <div class="footer-col">
                <h4>Vet Care</h4>
                <ul>
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Empleos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Formas de pago</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Síguenos</h4>
                <div class="social-links">  
                    
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Términos de servicio</a></li>
                    <li><a href="#">Contactarnos</a></li>
                </ul>
            </div>
        </div>
        
    </div>
  </footer>
  
  
  