<!-- src/app/app.component.html -->
<div class="body">
  <button class="toggle-button" (click)="goBack()">
    <i><fa-icon [icon]="iconoMenos"></fa-icon></i>
</button>
  <div class="container">
    <div class="title">
      <h1>Agregar Tratamiento</h1>
    </div>
    <form [formGroup]="tratamientoForm" (ngSubmit)="agregarTratamiento()">
      <div class="user-details">
        <div class="input-box">
          <label for="Mascota">Mascota</label>
          <input formControlName="mascota" type="text" class="form-control" id="Mascota" [(ngModel)]="mascota.nombre"
            required readonly>
          <p class="error"
            *ngIf="(tratamientoForm.get('mascota')?.touched || isSubmited) && tratamientoForm.get('mascota')?.invalid">
            Mascota no puede estar vacío.</p>
        </div>


        <div class="input-box wrapper">
          <p class="error"
            *ngIf="(tratamientoForm.get('medicamento')?.touched || isSubmited ) && tratamientoForm.get('medicamento')?.invalid">
            Escoja un Medicamento</p>
          <label for="medicamento">Medicamento</label>
          <div class="select-btn" (click)="toggleWrapper()">
            <span>Selecciona un Medicamento:</span>
            <i><fa-icon [icon]="miIcopno"></fa-icon></i>
          </div>

          <div class="content">
            
              <input type="text" placeholder="Buscar" id="searchInput" (input)="filterOptionsList()">
            
            <ul class="options" id="clientList">
              <li *ngFor="let medicamento of medicamentos" [attr.data-client-id]="medicamento.id"
                [class.disabled]="medicamento.unidadesDisponibles === 0"
                (click)="selectClient(medicamento)">{{medicamento.nombre}}</li>
            </ul>
            <input type="hidden" formControlName="medicamento" id="medicamento" name="medicamento" value="">
          </div>
        </div>



        <div class="input-box">
          <label for="Veterinario">Veterinario</label>
          <input formControlName="veterinario" type="text" class="form-control" id="Veterinario" [(ngModel)]="veterinario.nombre"
            required readonly>
          <p class="error"
            *ngIf="(tratamientoForm.get('Veterinario')?.touched || isSubmited) && tratamientoForm.get('Veterinario')?.invalid">
            Veterinario no puede estar vacío.</p>
        </div>

        <div class="input-box">
          <label for="fecha">Fecha</label>
          <input formControlName="fecha" type="date" class="form-control" id="fecha" placeholder="fecha" required>
          <p class="error"
            *ngIf="(tratamientoForm.get('fecha')?.touched || isSubmited) && tratamientoForm.get('fecha')?.invalid">Peso
            no puede estar vacío.</p>
        </div>

        <div class="input-box">
          <label for="precioo">Precio</label>
          <input formControlName="precio" type="number" class="form-control" id="precioo" placeholder="precio"  [(ngModel)]="precio" readonly>
          <p class="error"
            *ngIf="(tratamientoForm.get('precio')?.touched || isSubmited) && tratamientoForm.get('precio')?.invalid">
            Precio debe ser diferente a cero.</p>
        </div>



      </div>
      <div class="button">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>


</div>