@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.body{
    display:flex ;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #05324780 0%, rgba(5, 50, 71, 0.5) 100%), url(src/assets/img/6213932.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #ffffff00;
    padding: 25px 30px;
    border-radius: 5px;
    border: solid 2px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #000;
}
.container .title::before{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(-225deg, rgba(203, 186, 204, 0.698) 0%, #257fb3b2 100% );
}

.container form  .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.user-details .input-box label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3 ease;
    background-color: #fff;
    color: #000;
    
}

.user-details .input-box input::placeholder{
    color: #3f3939;
}
.user-details .input-box input::-ms-fill{
    background: #000;
}
.user-details .input-box input::focus,
.user-details .input-box input::valid{
    border-color: #fff;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button button{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(-225deg, rgba(203, 186, 204, 0.698) 0%, #257fb3b2 100% );
}

form .button button:hover{
    background: linear-gradient(225deg, rgba(203, 186, 204, 0.698) 0%, #257fb3b2 100% );
    cursor: pointer;
}
.error{
    color: red;
    display: none;
}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details.input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-width: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}

.select-btn{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3 ease;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-btn2{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3 ease;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-btn i{
    font-size: 1em;
    transform: trasnform 0.5s linear;
}

.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}

.wrapper2.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    margin-top: 15px;
}

.wrapper.active  .content{
    display: block;
}

.wrapper2.active  .content{
    display: block;
}
.select-btn , .options li{
    
    display: flex;
    align-items: center;
}
.content .options{

    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;

}
.options{
    background-color: #fff;
}
.options li{
    height: 50px;
    border-radius: 5px;
    padding: 0 13px;
    font-size: 1.2em;
}

.disabled {
    color: gray; /* Change text color to gray for disabled options */
    cursor: not-allowed; /* Change cursor to not-allowed for disabled options */
    pointer-events: none; /* Disable pointer events for disabled options */
}

.options li:hover {
    background-color: #f2f2f2;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    border-radius: 25px;
    background: #f1f1f1;
}
.options::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background: #ccc;
}
