<!-- src/app/app.component.html -->
<div class="body">
    <div class="container">
        <div class="title"><h1>Agregar mascota</h1></div>
        <form [formGroup]="mascotaForm" (ngSubmit)="agregarMascota()">
            <div class="user-details">
                <div class="input-box">
                    <label for="nombre">Nombre</label>
                    <input formControlName="Nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                    <p class="error" *ngIf="(mascotaForm.get('Nombre')?.touched || isSubmited) && mascotaForm.get('Nombre')?.invalid">Nombre no puede estar vacío.</p>
                </div>
    
                <div class="input-box">
                    <label for="correo">Raza</label>
                    <input formControlName="Raza" type="text" class="form-control" id="correo" placeholder="Raza" required>
                    <p class="error" *ngIf="(mascotaForm.get('Raza')?.touched || isSubmited) && mascotaForm.get('Raza')?.invalid">Raza no puede estar vacía.</p>
                </div>
    
                <div class="input-box">
                    <label for="carrera">Edad</label>
                    <input formControlName="Edad" type="number" class="form-control" id="carrera" placeholder="Edad" required>
                    <p class="error" *ngIf="(mascotaForm.get('Edad')?.touched || isSubmited) && mascotaForm.get('Edad')?.invalid">Edad debe ser diferente a cero.</p>
                </div>
    
                <div class="input-box">
                    <label for="semestre">Peso</label>
                    <input formControlName="Peso" type="number" step="0.01" class="form-control" id="semestre" placeholder="Peso" required>
                    <p class="error" *ngIf="(mascotaForm.get('Peso')?.touched || isSubmited) && mascotaForm.get('Peso')?.invalid">Peso debe ser diferente a cero.</p>
                </div>
    
                <div class="input-box">
                    <label for="Enfermedad">Enfermedad</label>
                    <input formControlName="Enfermedad" type="text" class="form-control" id="Enfermedad" placeholder="Enfermedad" required>
                </div>
    
                <div class="input-box">
                    <label for="Foto">Foto</label>
                    <input formControlName="Foto" type="text" class="form-control" id="Foto" placeholder="Foto" required>
                </div>
    
            </div>
            <div class="button">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
    

</div>
