<!-- src/app/app.component.html -->
<div class="body">
    <div class="container">
        <div class="title"><h1>Agregar mascota</h1></div>
        <form [formGroup]="mascotaForm" (ngSubmit)="agregarMascota()">
            <div class="user-details">
                <div class="input-box">
                    <label for="nombre">Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                    <p class="error" *ngIf="(mascotaForm.get('nombre')?.touched || isSubmited) && mascotaForm.get('nombre')?.invalid">Nombre no puede estar vacío.</p>
                </div>
    
                <div class="input-box">
                    <label for="correo">Raza</label>
                    <input formControlName="raza" type="text" class="form-control" id="correo" placeholder="Raza" required>
                    <p class="error" *ngIf="(mascotaForm.get('raza')?.touched || isSubmited) && mascotaForm.get('raza')?.invalid">Raza no puede estar vacía.</p>
                </div>
    
                <div class="input-box">
                    <label for="carrera">Edad</label>
                    <input formControlName="edad" type="number" class="form-control" id="carrera" placeholder="Edad" required>
                    <p class="error" *ngIf="(mascotaForm.get('edad')?.touched || isSubmited) && mascotaForm.get('edad')?.invalid">Edad debe ser diferente a cero.</p>
                </div>
    
                <div class="input-box">
                    <label for="semestre">Peso</label>
                    <input formControlName="peso" type="number" step="0.01" class="form-control" id="semestre" placeholder="Peso" required>
                    <p class="error" *ngIf="(mascotaForm.get('peso')?.touched || isSubmited) && mascotaForm.get('peso')?.invalid">Peso debe ser diferente a cero.</p>
                </div>
    
                <div class="input-box">
                    <label for="Enfermedad">Enfermedad</label>
                    <input formControlName="enfermedad" type="text" class="form-control" id="Enfermedad" placeholder="Enfermedad" >
                </div>
    
                <div class="input-box">
                    <label for="Foto">Foto</label>
                    <input formControlName="foto" type="text" class="form-control" id="Foto" placeholder="Foto" required>
                </div>

        <div class="input-box wrapper">
        <p class="error" *ngIf="(mascotaForm.get('clientId')?.touched || isSubmited ) && mascotaForm.get('clientId')?.invalid">Escoja un dueño</p>
          <label for="duenno">Dueño</label>
          <div class="select-btn" (click)="toggleWrapper()">
            <span>Selecciona Dueño:</span>
            <i class="fa-solid fa-caret-down"></i>
          </div>
          
          <div class="content">
            <div class="search">
              <input type="text" placeholder="Buscar" id="searchInput" (input)="filterOptionsList()">
            </div>
            <ul class="options" id="clientList">
              <li *ngFor="let cliente of clientes" [attr.data-client-id]="cliente.id" (click)="selectClient(cliente)">{{cliente.nombre}}</li>
            </ul>
            <input type="hidden" formControlName="clientId" id="clientId" name="clientId" value="">
          </div>
        </div>
                
            </div>
            <div class="button">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
    

</div>




