<!-- editar-cliente.component.html -->
<div class="body">
  <div class="container">
    <div class="title"><h1>Editar cliente</h1></div>
    <form #ClienteForm="ngForm" (ngSubmit)="editarCliente()">
      <div class="user-details">
        <div class="input-box">
          <label for="cedula">Cédula</label>
          <input name="cedula" [(ngModel)]="FormCliente.cedula" type="text" class="form-control" id="cedula" placeholder="Cédula" readonly>
        </div>
        <div class="input-box">
          <label for="nombre">Nombre</label>
          <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="FormCliente.nombre">
        </div>
        <div class="input-box">
          <label for="corre">Correo</label>
          <input name="corre" type="text" class="form-control" id="corre" placeholder="Correo" [(ngModel)]="FormCliente.corre">
        </div>
        <div class="input-box">
          <label for="celular">Celular</label>
          <input name="celular" type="text" class="form-control" id="celular" placeholder="Celular" [(ngModel)]="FormCliente.celular">
        </div>
        <!-- <div class="input-box">
          <label for="id">ID</label>
          <input name="id" type="text" class="form-control" id="id" placeholder="ID" readonly [(ngModel)]="FormCliente.id">
        </div> -->
      </div>
      <div class="button">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
  
</div>
