

<div class="fondo">
  <div class="container">
    <div class="title"><h1>Información mascota</h1></div>
    <div class="image-box">
      <img [ngSrc]="Mascota.foto" alt="Foto de la mascota" width="540" height="370" priority>
    </div>
    <div class="user-details">
      <div class="input-box">
        <h2>Nombre:</h2>
        <p>{{ Mascota.nombre }}</p>
      </div>
      <div class="input-box">
        <h2>Raza:</h2>
        <p>{{ Mascota.raza }}</p>
      </div>
      <div class="input-box">
        <h2>Edad:</h2>
        <p>{{ Mascota.edad }}</p>
      </div>
      <div class="input-box">
        <h2>Peso:</h2>
        <p>{{ Mascota.peso }}</p>
      </div>
      <div class="input-box">
        <h2>Enfermedad:</h2>
        <p>{{ Mascota.enfermedad }}</p>
      </div>
      <div *ngIf="dueno != null" class="input-box">
        <h2>Dueño:</h2>
        <a [routerLink]="['/Clientes/find', dueno.cedula]"><p>{{ dueno.nombre }}</p></a>
      </div>
    </div>
  </div>
</div>
