

<div class="fondo">
  <div class="container">
    <button class="toggle-button" (click)="goBack()">
      <i><fa-icon [icon]="iconoMenos"></fa-icon></i>
  </button>
    <div class="title"><h1>Información mascota</h1></div>
    <div class="image-box">
      <img [ngSrc]="Mascota.foto" alt="Foto de la mascota" width="540" height="370" priority>
    </div>
    <div class="user-details">
      <div class="input-box">
        <h2>Nombre:</h2>
        <p id="nombre">{{ Mascota.nombre }}</p>
      </div>
      <div class="input-box">
        <h2>Raza:</h2>
        <p id="raza">{{ Mascota.raza }}</p>
      </div>
      <div class="input-box">
        <h2>Edad:</h2>
        <p id="edad">{{ Mascota.edad }}</p>
      </div>
      <div class="input-box">
        <h2>Peso:</h2>
        <p id="peso">{{ Mascota.peso }}</p>
      </div>
      <div class="input-box">
        <h2>Enfermedad:</h2>
        <p id="enfermedad">{{ Mascota.enfermedad }}</p>
      </div>
      <div *ngIf="dueno != null" class="input-box">
        <h2>Dueño:</h2>
        <a [routerLink]="['/clientes/find', dueno.cedula]"><p>{{ dueno.nombre }}</p></a>
      </div>
    </div>
  </div>
  <table  class="mascotas" *ngIf="tratamientos && tratamientos.length > 0">
    <thead>
      <tr>
        
        <th scope="col">Fecha</th>
        <th scope="col">Medicamento</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of tratamientos">
        

        <td>{{ item.fecha  | date:'dd/MM/yyyy'}}</td>
        <td>{{ item.medicamentos?.nombre }}</td>
      </tr>
    </tbody>
  </table>
  
</div>
