<!-- src/app/app.component.html -->


    
<mat-sidenav-container class="sidenav-container">
        
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" >
    <!-- Your sidenav content goes here -->
    <mat-nav-list>
        <img ngSrc="assets/img/logovetcare.png" alt="un lindo gato" width="265" height="60" priority>
        <mat-list-item  mat-list-item [routerLink]="['/Veterinarios/todos']"> Veterinarios</mat-list-item>
        <mat-list-item  mat-list-item [routerLink]="['/Admin/dashboard']">Estadisticas</mat-list-item>
        <!-- Add other navigation items as needed -->
    </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="fondo body">
            <button class="toggle-button" (click)="sidenav.toggle()">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
    
            <div class="chart-container">
                <div class="chart-header">
                    <h2>Active/Inactive Veterinarians</h2>
                </div>
                <div class="chart-content">
                    <app-vet-activos></app-vet-activos>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


