
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.body{
    padding-top: 2em;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.botonesnav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Titulo{
    font-size: 5em;
    color: aliceblue;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgba(0,212,255,1),#053247);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgba(0,212,255,1),#053247);
}

.fondo{

    background-image: linear-gradient(180deg, rgba(5, 50, 71, 0.5) 0%, rgba(5, 50, 71, 0.5) 100%),url(src/assets/img/20828158_6329024.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    
}
.tabla-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav-container {
    height: 100%;
}

mat-sidenav{
    padding : 16px
}

mat-sidenav{
    background-color: #053247;
    width: 300px;
}

.graficas{
    display: flex;
    flex-direction: row;
}


mat-list-item{
    background-color: rgba(255, 255, 255, 0.479);
}

/* Existing styles... */

.toggle-button {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #053247;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border: none; /* Remove border if not needed */
    cursor: pointer;
}

/* ... Your existing styles ... */


.new-button:hover {
    background-color: #45a049; /* Darker color on hover */
}

/* ... Your existing styles ... */




.linksnav {
  /* Add your styles here, for example: */
  color: white; /* Blue color */
  text-decoration: none; /* Remove underlines */
  font-weight: bold; /* Make the text bold */
}

/* Style for the linksnav when hovered */
.linksnav:hover {
  color: #0056b3; /* Darker blue color on hover */
}

.chart-card {
    width: 400px; /* Set your desired width */
    margin: 20px; /* Add margin for spacing */
}

/* Add this to your component's CSS file or style section */
.chart-container {
    border: 1px solid #ccc; /* Add a border for a card-like appearance */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin: 20px; /* Add margin for spacing */
    overflow: hidden; /* Ensure overflow doesn't affect the card appearance */
    width: 700px; /* Set your desired width */
    height: 450px; /* Set your desired height */
    background-color:#f5f5f5 ;
    
}

.chart-container1 {
    border: 1px solid #ccc; /* Add a border for a card-like appearance */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin: 20px; /* Add margin for spacing */
    overflow: hidden; /* Ensure overflow doesn't affect the card appearance */
    width: 900px; /* Set your desired width */
    height: 650px; /* Set your desired height */
    background-color:#f5f5f5 ;
}

.chart-header {
    background-color: #f5f5f5; /* Optional: Add a background color for the header */
    padding: 10px;
    text-align: center;
}

.chart-content {
    padding: 20px;

}

#myChart {
    max-width: 100%; /* Ensure the chart is responsive within the card */
    max-height: 100%; /* Ensure the chart is responsive within the card */
}

.graficas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Existing styles... */

.full-width {
    width: 100%;
    height: 100%;
    /* Opcional: Puedes añadir más estilos según tus necesidades */
  }

  .info-container {
    border: 1px solid #ccc; /* Add a border for a card-like appearance */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin: 20px; /* Add margin for spacing */
    overflow: hidden; /* Ensure overflow doesn't affect the card appearance */
    width: 500px; /* Set your desired width */
    height: 350px; /* Set your desired height */
    background-color:#f5f5f5 ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


  .toggle-button2 {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #053247;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
    right: 20px; /* Adjust the value based on your desired position from the right */
    top: 20px; /* Adjust the value based on your desired position from the top */
}
