<!-- src/app/app.component.html -->


    
<mat-sidenav-container class="sidenav-container">
        
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" >
    <!-- Your sidenav content goes here -->
    <mat-nav-list>
        <img ngSrc="assets/img/logovetcare.png" alt="un lindo gato" width="265" height="60" priority>
        <mat-list-item  mat-list-item [routerLink]="['/Veterinarios/todos']"> Veterinarios</mat-list-item>
        <mat-list-item  mat-list-item [routerLink]="['/Admin/dashboard']">Estadisticas</mat-list-item>
        <!-- Add other navigation items as needed -->
    </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="fondo body">
            <button class="toggle-button" (click)="sidenav.toggle()">
                <i class="fa-solid fa-arrow-right"></i>
            </button>

            <div class="tabla-center">
                <h1 class="Titulo">Estadisticas</h1>

                <div class="graficas">
                    <div class="chart-container">
                        <div class="chart-header">
                            <h2>Active/Inactive Veterinaris</h2>
                        </div>
                        <div class="chart-content">
                            <app-vet-activos></app-vet-activos>
                        </div>
                    </div>

                    <div class="chart-container1">
                        <div class="chart-header">
                            <h2> medicamento - cantidad</h2>
                        </div>
                        <div class="chart-content">
                            <app-medicamentos-tratemiento></app-medicamentos-tratemiento>
                        </div>
                    </div>

                    <div class="info-container ">
                        <app-total-mascotas ></app-total-mascotas>
                    </div>
                    <div class="info-container ">
                        <app-total-mascotas-en-tratamiento></app-total-mascotas-en-tratamiento>
                    </div>
                    <div class="info-container ">
                        <app-total-aventas></app-total-aventas>
                    </div>
                    <div class="info-container">
                        <app-total-ganancias></app-total-ganancias>
                    </div>
                    <div class="info-container">
                        <app-tratamientos-ultimo-mes></app-tratamientos-ultimo-mes>
                    </div>

                </div>


            </div>
            
           

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


