<!-- client-dashboard.component.html -->
<div class="body">
    <button class="toggle-button" (click)="logOut()">
        <i class="fa-solid fa-right-from-bracket"></i>
    </button>
    <a [routerLink]="['/Home']"><img src="assets/img/logovetcare.png" alt="un lindo gato" class="logodashboard"></a>
    <h1 class="Titulo">Welcome, {{ cliente.nombre }}!</h1>

    <div class="separardeltitulo">
    <h2 class="mismascotas">Mis Mascotas:</h2>
    <div class="container">
        <a class="cardclik" *ngFor="let pet of cliente.misMascotas" [routerLink]="['/Mascota/find', pet.id]">
        <div class="card">
            <img [src]="pet.foto" alt="foto mascotas">
            <div class="contenido">
            <p>{{ pet.nombre }}</p>
            </div>
        </div>
        </a>
    </div>
    </div>
</div>